/mvnw text eol=lf
*.cmd text eol=crlf

static/** linguist-vendored
public/** linguist-vendored
node_modules/** linguist-vendored
build/** linguist-vendored
target/** linguist-vendored
*.min.js linguist-vendored
*.html linguist-vendored

*.java linguist-language=Java
